.App {
  margin: 50px;
  border: 2px solid dimgray;
  padding: 30px;
  width: 700px;
}
.top {
  height: 40px;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
h2 {
  margin: 0;
}

